@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&display=swap');

h2{
  font-family: 'Permanent Marker', cursive !important;
}

.postcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  width: 40%;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s ease-in-out forwards;
  margin: 5rem;
}

.contact-item-1,
.contact-item-2 {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  font-family: 'Special Elite', cursive !important;
}

.contact-item-3 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 10px !important;
}

.contact-item-3 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.postcard {
  width: 400px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s ease-in-out forwards;
}

.postcard-header {
  text-align: center;
  margin-bottom: 20px;
}

.postcard-content {
  margin-bottom: 20px;
}

.postcard-label {
  margin-bottom: 5px;
}

.postcard-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.postcard-submit {
  width: 100%;
}