@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&display=swap');

body{
    font-family: 'Special Elite', cursive !important;
    font-size: large;
    background: darkblue;
}
h1{
    font-family: 'Special Elite', cursive !important;
}
h2{
    font-family: 'Special Elite', cursive !important;
}