.navbar {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
  }
  
  .nav-link {
    margin-left: 1rem;
    color: black;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: grey;
  }